// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#answers {
  padding: 60px 0px 60px 0px;

  #logo {
    margin-bottom: 20px;

    a img {
      width: auto;
      max-height: 96px;
    }
  }

  .question .panel-body {
    .statement {
      margin-bottom: 14px;
    }

    .answer {
      input[type="radio"] {
        visibility: hidden;
        width: 0px;
        margin: 0px;
        padding: 0px;
      }

      label {
        cursor: pointer;

        img {
          width: auto;
          height: 50px;
        }
      }

      input[type="radio"]:checked+label img {
        width: auto;
        height: 80px;
      }
    }
  }

  .actions {
    margin: 28px 0px 30px 0px;
  }

  #header, #footer {
    color: #666666;
  }

  #standalone-message {
    margin: 40px 0px 42px 0px;
    line-height: 80px;
  }

  #sharing {
    p {
      margin-bottom: 17px;
    }
  }
}
